@import "vars";
@import "mixins";

.clearfix:after {
  display: block;
  clear: both;
}

#shelf,
#bump-box {
  float: left;
  box-sizing: border-box;
}

#shelf {
  $min-size: 30px;

  display: flex;
  flex-flow: column-reverse wrap;
  min-height: $min-size;
  min-width: $min-size;
  background: #feb;
  border: 1px solid #666;
  border-right: none;
  border-top-left-radius: $brdr-r;
  border-bottom-left-radius: $brdr-r;
  transition: 0.5s all linear 0s;

  &:empty {
    background-color: transparent;
  }
}

#bump-box {
  position: relative;
  border: 1px solid #666;
  border-radius: $brdr-r;
  border-top-left-radius: 0;
}

.ball {
  @include ball-bg;

  $size: 20px;

  width: $size;
  height: $size;
  margin: 5px;
  position: relative;
  top: 0;
  border-radius: 50%;
  cursor: move;
  transition: all 0.5s linear 0s;

  &:hover {
    position: relative;
    top: -5px;
    transform: scale(1.1);
  }
  &.dragging {
    position: fixed;
    z-index: 10;
    transition-duration: 0s;
  }

  &.red {@include ball-bg(#e66);}
  &.green {@include ball-bg(#6e6);}
  &.blue {@include ball-bg(#66e);}
}
